<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>993432691723-k3nrk7s5e4j7rthklhilq0nghahgk3ac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993432691723-k3nrk7s5e4j7rthklhilq0nghahgk3ac</string>
	<key>API_KEY</key>
	<string>AIzaSyBPzxtaDKXI_LNkWR20LDzzMR1qm48F5WE</string>
	<key>GCM_SENDER_ID</key>
	<string>993432691723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonathanburgoyne.pushmynotifs</string>
	<key>PROJECT_ID</key>
	<string>pushmynotif-46d6e</string>
	<key>STORAGE_BUCKET</key>
	<string>pushmynotif-46d6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:993432691723:ios:ef24c8660b0066d0</string>
	<key>DATABASE_URL</key>
	<string>https://pushmynotif-46d6e.firebaseio.com</string>
</dict>
</plist>
